<div class="hero heading--dark-orange heading--desktop--white text--dark-orange text--desktop--white svg--white" style="background-image: url('/assets/images/<%- bodyclass %>/hero.jpg');">
  <p class="read-time text--white svg--white">
    <svg class="icon icon-read-time-ring-dims">
      <use xlink:href="#read-time-ring"></use>
    </svg>
    <span data-figure="<%- homeFifteenTime %>" data-speed="1000">0</span>
    <span>mins</span>
  </p>


  <div class="hero__content">
    <p class="mag-title heading text--dark-red">What’s Next?</p>
    <h1><%- heroTitle %></h1>
    <p><%- heroDesc %></p>
  </div>
</div>

<div class="content-wrapper">

  <div class="intro intro--half-width heading--dark-green text--dark-green background--opacity--green">
    <p><%- introOne %></p>
    <p><%- introTwo %></p>
  </div>

  <div class="feature feature-left">
    <img src="/assets/images/<%- bodyclass %>/image-1.jpg" />
    <div class="text background--white text--black heading--red">
      <div class="text-wrap background--white">
        <h2><%- sectionOneHeading %></h2>
        <p><%- sectionOneDesc %></p>
      </div>
    </div>
    <div class="pull-left background--opacity--lighter-grey svg--lighter-grey">
      <div id="icon-animated-letter" class="bodymovin" data-bm-type="svg" data-animation-path="/assets/javascripts/animations/icon-animated-letter.json"></div>
      <p class="text--dark-red"><%- pullOne %></p> 
    </div>
  </div>

  <div class="column">

    <div class="text heading--blue">
      <h2><%- sectionTwoHeading %></h2>
      <p><%- sectionTwoDesc %></p>
      <div class="stat heading--dark-blue text--blue">
        <h2>£<span data-figure="500" data-speed="1500" class="count-figure">0</span></h2>
        <p><%- statText %></p>
      </div>
    </div>
    <div id="fad" class="pull background--mustard heading--white svg--orange text--white">
      <div id="icon-animated-coins" class="bodymovin" data-bm-type="svg" data-animation-path="/assets/javascripts/animations/icon-animated-coins.json"></div>
      <h2><%- sectionThreeHeading %></h2>
      <p><%- sectionThreeDesc %></p>
    </div>

  </div>


  <div class="feature big-feature">
    <img src="/assets/images/<%- bodyclass %>/image-2.jpg" />
    <div class="text background--white text--black heading--green">
      <div class="text-wrap background--white">
        <h2><%- sectionFourHeading %></h2>
        <p><%- sectionFourDesc %></p>
      </div>
    </div>
  </div>

  <div class="column pull-full">
    <div class="pull background--light-grey heading--white svg--yellow svg--dark-grey text--dark-grey">
      <div id="icon-animated-target" class="bodymovin" data-bm-type="svg" data-animation-path="/assets/javascripts/animations/icon-animated-target.json"></div>
      <h2><%- fiveTitle %></h2>
      <p><%- fiveDesc %></p>
    </div>
  </div>

  <div class="block-cols background--red heading--mustard svg--yellow text--white">
    <h1>ISAs</h1>
    <div>
      <h2><%- sixTitle %></h2> 
      <p><%-  sixDesc %></p>
      <h2><%- sevenTitle %></h2> 
      <p><%-  sevenDesc %></p>
    </div>
    <div>
      <h2><%- eightTitle %></h2> 
      <p><%- eightDesc %></p>
    </div>
    <div class="stat-col">
      <h2>£<span data-figure="20" data-speed="1000">0</span>K</h2> 
      <p><%- nineDesc %></p>
    </div>
     <div id="icon-animated-diamond" class="bodymovin" data-bm-type="svg" data-animation-path="/assets/javascripts/animations/icon-animated-diamond.json"></div>
  </div>

  <div class="pull-full row background--lighter-grey" id="pensions">
    <div class="inner heading--red svg--dark-red text--dark-red">
      <h2><%- homeFinalTitle %></h2>
      <div id="icon-animated-rabbit" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-rabbit.json"></div>
    </div>
  </div>

</div>

<div class="related-articles background--lighter-grey heading--dark-red">
  <h3>Like this article, try these…</h3>
  
  <a href="/articles/five-things-that-get-better-with-age">
    <span class="time text--darker-grey"><%- homeFourTime %> mins</span>
    <h4><%- homeFourTitle %></h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
      <span>Read</span>
    </span>
  </a>
  
  <a href="/articles/when-can-i-retire">
    <span class="time text--darker-grey"><%- homeThreeTime %> mins</span>
    <h4>When can I retire?</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
      <span>Read</span>
    </span>
  </a>

</div>
