<div class="hero heading--dark-blue text--white svg--white" style="background-image: url('/assets/images/<%- bodyclass %>/hero.jpg');">
  
  <p class="read-time">
    <svg class="icon icon-read-time-ring-dims">
      <use xlink:href="#read-time-ring"></use>
    </svg>
    <span data-figure="4" data-speed="1000">0</span>
    <span>mins</span>
  </p>

  <div class="hero__content">
    <p class="mag-title heading text--white">What’s Next?</p>
    <h1><%- heroTitle %></h1>
    <p class="text--dark-blue"><%- heroDesc %></p>
  </div>
</div>


<div class="content-wrapper">

  <div class="intro intro--full-width heading--white text--white background--opacity--blue">
    <p class="lead-in"><%- introOne %></p>
    <p><%- introTwo %></p>
  </div>

  <div class="column">

    <div class="text heading--blue">
      <h2><%- sectionOneHeading %></h2>
      <p><%- sectionOneDesc %></p>
    </div>

    <div class="pull background--lighter-grey svg--yellow text--dark-blue">
      <p><%- pullOne %></p>
      <div id="icon-animated-pram" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-pram.json"></div>
    </div>

  </div>

  <div class="feature">
    <img src="/assets/images/<%- bodyclass %>/image-1.jpg" />
    <div class="text blend--bg blend--dark-blue text--white heading--blue">
      <div class="text-wrap">
        <h2><%- sectionTwoHeading %></h2>
        <p><%- sectionTwoDesc %></p>
      </div>
    </div>
  </div>

  <div class="feature-row svg--yellow text--dark-blue">
    <p><%- pullTwo %></p>
    <div id="icon-animated-partypopper" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-partypopper.json"></div>
    <img src="/assets/images/<%- bodyclass %>/image-2.jpg" />
  </div>

  <div class="column">

    <div class="text heading--blue wide">
      <h2><%- sectionThreeHeading %></h2>
      <p><%- sectionThreeDesc %></p>
    </div>
    <div class="infographic">
      <div class="circle-digit count-figure background--blue text--white" data-figure="68" data-speed="3000">
        0
      </div>
      <p class="info text--blue">The standard retirement age expected to be by 2020</p>
    </div>

  </div>

</div>

<div class="related-articles background--lighter-grey heading--dark-red">
  <h3>Like this article, try these…</h3>
  
  <a href="/articles/are-your-finances-ready-for-a-longer-life">
    <span class="time text--darker-grey"><%- homeTwoTime %> mins</span>
    <h4>Are your finances ready for a longer life?</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
      <span>Read</span>
    </span>
  </a>
  
  <a href="/articles/five-things-that-get-better-with-age">
    <span class="time text--darker-grey"><%- homeFourTime %> mins</span>
    <h4>Five things that get better with age</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
      <span>Read</span>
    </span>
  </a>

</div>