<div class="hero svg--beige-grey heading--red text--dark-red">
  <p class="read-time text--beige-grey">
    <svg class="icon icon-read-time-ring-dims">
      <use xlink:href="#read-time-ring"></use>
    </svg>
    <span data-figure="5" data-speed="1000">0</span>
    <span>mins</span>
  </p>
  <div class="hero__content ">
    <p class="mag-title heading">What’s Next?</p>
    <h1><%- heroTitle %></h1>
    <p><%- heroDesc %></p>
  </div>
  <svg class="icon icon-alarm-clock-dims">
    <use xlink:href="#alarm-clock"></use>
  </svg>
</div>


<div class="content-wrapper">

  <hr class="line"></hr>

  <div class="time twenties svg--white">
    <svg class="icon icon-decade-20s-dims">
      <use xlink:href="#decade-20s"></use>
    </svg>
    <div class="text background--green text--dark-green">
      <%- decade20s %>
    </div>
  </div>

  <div class="time thirties svg--white">
    <img src="/assets/images/<%- bodyclass %>/image-1.jpg" />
    <svg class="icon icon-decade-30s-dims">
      <use xlink:href="#decade-30s"></use>
    </svg>
    <div class="text background--opacity--yellow text--dark-red">
      <%- decade30s %>
    </div>
  </div>

  <blockquote class="quote text--red">
    <p><%- pullOne %></p>
  </blockquote>

  <div class="time fourties svg--blue">
    <svg class="icon icon-decade-40s-dims">
      <use xlink:href="#decade-40s"></use>
    </svg>
    <svg class="icon icon-cheese-dims">
      <use xlink:href="#cheese"></use>
    </svg>
    <div class="text background--white text--dark-blue">
      <%- decade40s %>
    </div>
  </div>

  <blockquote class="quote text--red">
    <p><%- pullTwo %></p>
  </blockquote>

  <div class="time fifties svg--beige-grey">
    <svg class="icon icon-decade-50s-dims">
      <use xlink:href="#decade-50s"></use>
    </svg>
    <div class="text background--blue text--white">
      <%- decade50s %>
    </div>
  </div>

  <div class="time sixties svg--white">
    <img src="/assets/images/<%- bodyclass %>/image-2.jpg" />
    <svg class="icon icon-decade-60s-dims">
      <use xlink:href="#decade-60s"></use>
    </svg>
    <div class="text background--opacity--mustard text--dark-orange">
      <%- decade60s %>
    </div>
  </div>

  <div class="time seventies svg--yellow">
    <svg class="icon icon-decade-70s-dims">
      <use xlink:href="#decade-70s"></use>
    </svg>
    <svg class="icon icon-stethoscope-dims">
      <use xlink:href="#stethoscope"></use>
    </svg>
    <div class="text background--beige-grey text--dark-red">
      <%- decade70s %>
    </div>
  </div>

</div>

<div class="related-articles background--lighter-grey heading--dark-red">
  <h3>Like this article, try these…</h3>
  
  <a href="/articles/five-things-that-get-better-with-age">
    <span class="time text--darker-grey"><%- homeFourTime %> mins</span>
    <h4>Five things that get better with age</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>
  
  <a href="/articles/fit-through-the-ages">
    <span class="time text--darker-grey"><%- homeTwelveTime %> mins</span>
    <h4>Fit though the ages</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>

</div>