<div class="hero heading--red text--dark-red svg--red background--lighter-grey">

  <p class="read-time text--darker-grey svg--darker-grey">
    <svg class="icon icon-read-time-ring-dims">
      <use xlink:href="#read-time-ring"></use>
    </svg>
    <span data-figure="3" data-speed="1000">0</span>
    <span>mins</span>
  </p>


  <div class="big-five">
    <svg class="icon icon-num-5-dims"> <use xlink:href="#num-5"></use> </svg>
  </div>
  <div class="hero__content">
    <p class="mag-title heading text--yellow">What’s Next?</p>
    <h1><%- heroTitle %></h1>
    <p><%- heroDesc %></p>
  </div>
  
  <div class="panels svg--red">
    <div class="panel panel1">
      <div class="icon-wrap"><svg class="icon icon-piggybank-dims"><use xlink:href="#piggybank"></use></svg></div>
      <svg class="icon icon-num-1-dims"> <use xlink:href="#num-1"></use> </svg>
      <h3><%- oneTitle %></h3>
      <p><%- oneDesc %></p>
      <svg class="icon icon-close-dims">
        <use xlink:href="#close"></use>
      </svg>
    </div>
    <div class="panel panel2">
      <div class="icon-wrap"><svg class="icon icon-cup-dims"><use xlink:href="#cup"></use></svg></div>
      <svg class="icon icon-num-2-dims"> <use xlink:href="#num-2"></use> </svg>
      <h3><%- twoTitle %></h3>
      <p><%- twoDesc %></p>
      <svg class="icon icon-close-dims">
        <use xlink:href="#close"></use>
      </svg>
    </div>
    <div class="panel panel3">
      <div class="icon-wrap"><svg class="icon icon-bottle-dims"><use xlink:href="#bottle"></use></svg></div>
      <svg class="icon icon-num-3-dims"> <use xlink:href="#num-3"></use> </svg>
      <h3><%- threeTitle %></h3>
      <p><%- threeDesc %></p>
      <svg class="icon icon-close-dims">
        <use xlink:href="#close"></use>
      </svg>
    </div>
    <div class="panel panel4">
      <div class="icon-wrap"><svg class="icon icon-apple-dims"><use xlink:href="#apple"></use></svg></div>
      <svg class="icon icon-num-4-dims"> <use xlink:href="#num-4"></use> </svg>
      <h3><%- fourTitle %></h3>
      <p><%- fourDesc %></p>
      <svg class="icon icon-close-dims">
        <use xlink:href="#close"></use>
      </svg>
    </div>
    <div class="panel panel5">
      <div class="icon-wrap"><svg class="icon icon-wallet-dims"><use xlink:href="#wallet"></use></svg></div>
      <svg class="icon icon-num-5-dims"> <use xlink:href="#num-5"></use> </svg>
      <h3><%- fiveTitle %></h3>
      <p><%- fiveDesc %></p>
      <svg class="icon icon-close-dims">
        <use xlink:href="#close"></use>
      </svg>
    </div>
  </div>

</div>

<div class="related-articles background--lighter-grey heading--dark-red">
  <h3>Like this article, try these…</h3>
  
  <a href="/articles/ten-money-making-hobbies">
    <span class="time text--darker-grey"><%- homeSevenTime %> mins</span>
    <h4>10 money making hobbies</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>
  
  <a href="/articles/a-rough-guide-to-workplace-savings">
    <span class="time text--darker-grey"><%- homeFifteenTime %> mins</span>
    <h4>A rough guide to workplace savings</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>

</div>