<div class="hero heading--dark-green heading--desktop--white text--desktop--white text--dark-green svg--green" style="background-image: url('/assets/images/<%- bodyclass %>/hero.jpg');">

  <p class="read-time text--green">
    <svg class="icon icon-read-time-ring-dims">
      <use xlink:href="#read-time-ring"></use>
    </svg>
    <span data-figure="4" data-speed="1000">0</span>
    <span>mins</span>
  </p>

  <div class="hero__content">
    <p class="mag-title heading text--dark-red">What’s Next?</p>
    <h1><%- heroTitle %></h1>
    <p><%- heroDesc %></p>
  </div>
</div>


<div class="content-wrapper">

  <div class="intro intro--half-width heading--dark-green text--dark-green background--opacity--green">
    <p><%- introOne %></p>
  </div>
  <div class="text stat background--white text--green heading--dark-green">
    <div class="text-wrap">
      <h2><span data-figure="22" data-speed="1500" class="count-figure">0</span> million</h2>
      <p class="stat-text"><%- statText %></p>
    </div>
  </div>
  <div class="column">
    <div class="text heading--light-grey text--dark-green">
      <h2><%- sectionOneHeading %></h2>
      <p><%- sectionOneDesc %></p>
    </div>
    <div class="image">
      <img src="/assets/images/<%- bodyclass %>/image-1.jpg" />
    </div>
  </div>

  <div class="feature">
    <img src="/assets/images/<%- bodyclass %>/image-2.jpg" />
    <div class="text blend--bg blend--dark-green text--white heading--green">
      <div class="text-wrap">
        <h2><%- sectionTwoHeading %></h2>
        <p><%- sectionTwoDesc %></p>
      </div>
    </div>
    <blockquote class="quote text--dark-green background--white">
      <div class="copy">
        <%- pullOne %>
      </div>
    </blockquote>
  </div>


  <div class="pull background--yellow text--dark-green svg--green">
    <p><%- pullTwo %></p>
    <div id="icon-animated-hands-heart" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-hands-heart.json"></div>
  </div>

</div>

<div class="related-articles background--lighter-grey heading--dark-red">
  <h3>Like this article, try these…</h3>
  
  <a href="/articles/ten-money-making-hobbies">
    <span class="time text--darker-grey"><%- homeSevenTime %> mins</span>
    <h4>10 money making hobbies</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>
  
  <a href="/articles/when-can-i-retire">
    <span class="time text--darker-grey"><%- homeThreeTime %> mins</span>
    <h4>When can I Retire?</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>

</div>