<div class="hero hero--icon heading--dark-green text--dark-green svg--green background--yellow">

  <p class="read-time svg--white">
    <svg class="icon icon-read-time-ring-dims">
      <use xlink:href="#read-time-ring"></use>
    </svg>
    <span data-figure="8" data-speed="1000">0</span>
    <span>mins</span>
  </p>

  <div class="hero__content">
    <p class="mag-title heading text--white">What’s Next?</p>
    <h1><%- heroTitle %></h1>
    <p><%- heroDesc %></p>
  </div>
  <svg class="icon icon-num-10-dims">
    <use xlink:href="#num-10"></use>
  </svg>
</div>


<div class="content-wrapper">

  <div class="list-item row list-item--photo">
    <div class="image svg--green" style="background-image: url('../assets/images/<%- bodyclass %>/item-1.jpg');">
      <svg class="icon icon-num-1-dims">
        <use xlink:href="#num-1"></use>
      </svg>
    </div>

    <div class="text background--dark-green text--white heading--green">
      <h2><%- oneTitle %></h2>
      <p><%- oneDesc %></p>
    </div>
  </div>

  <div class="list-item row list-item--icon">
    <div id="icon-animated-cake" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-cake.json"></div>
    <div class="image background--red svg--yellow">
      <svg class="icon icon-num-2-dims">
        <use xlink:href="#num-2"></use>
      </svg>
    </div>

    <div class="text background--dark-red text--white heading--yellow">
      <h2><%- twoTitle %></h2>
      <p><%- twoDesc %></p>
    </div>
  </div>
  
  <div class="list-item row list-item--photo">
    <div class="image svg--white" style="background-image: url('../assets/images/<%- bodyclass %>/item-3.jpg');">
      <svg class="icon icon-num-3-dims">
        <use xlink:href="#num-3"></use>
      </svg>
    </div>

    <div class="text background--dark-blue text--white heading--blue">
      <h2><%- threeTitle %></h2>
      <p><%- threeDesc %></p>
    </div>
  </div>

  <div class="list-item row list-item--icon">
    <div id="icon-animated-speech" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-speech.json"></div>
    <div class="image background--lighter-grey svg--red">
      <svg class="icon icon-num-4-dims">
        <use xlink:href="#num-4"></use>
      </svg>
    </div>
    <div class="text background--mustard text--dark-red heading--red">
      <h2><%- fourTitle %></h2>
      <p><%- fourDesc %></p>
    </div>
  </div>

  <div class="list-item row list-item--photo">
    <div class="image svg--dark-blue" style="background-image: url('../assets/images/<%- bodyclass %>/item-5.jpg');">
      <svg class="icon icon-num-5-dims">
        <use xlink:href="#num-5"></use>
      </svg>
    </div>

    <div class="text background--blue text--dark-blue heading--white">
      <h2><%- fiveTitle %></h2>
      <p><%- fiveDesc %></p>
    </div>
  </div>

  <div class="list-item row list-item--icon">
    <div id="icon-animated-sewing" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-sewing.json"></div>
    <div class="image background--mustard svg--orange">
      <svg class="icon icon-num-6-dims">
        <use xlink:href="#num-6"></use>
      </svg>
    </div>
    <div class="text background--red text--white heading--mustard">
      <h2><%- sixTitle %></h2>
      <p><%- sixDesc %></p>
    </div>
  </div>


  <div class="list-item row list-item--photo">
    <div class="image svg--dark-green" style="background-image: url('../assets/images/<%- bodyclass %>/item-7.jpg');">
      <svg class="icon icon-num-7-dims">
        <use xlink:href="#num-7"></use>
      </svg>
    </div>

    <div class="text background--green text--dark-green heading--white">
      <h2><%- sevenTitle %></h2>
      <p><%- sevenDesc %></p>
    </div>
  </div>

  <div class="list-item row list-item--icon">
    <div id="icon-animated-flower" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-flower.json"></div>
    <div class="image background--yellow svg--mustard">
      <svg class="icon icon-num-8-dims">
        <use xlink:href="#num-8"></use>
      </svg>
    </div>
    <div class="text background--dark-grey text--white heading--mustard">
      <h2><%- eightTitle %></h2>
      <p><%- eightDesc %></p>
    </div>
  </div>

  <div class="list-item row list-item--photo">
    <div class="image svg--blue" style="background-image: url('../assets/images/<%- bodyclass %>/item-9.jpg');">
      <svg class="icon icon-num-9-dims">
        <use xlink:href="#num-9"></use>
      </svg>
    </div>

    <div class="text background--dark-blue text--white heading--blue">
      <h2><%- nineTitle %></h2>
      <p><%- nineDesc %></p>
    </div>
  </div>

  <div class="list-item row list-item--icon">
    <div id="icon-animated-magnify-yellow" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-magnify-yellow.json"></div>
    <div class="image background--dark-red svg--red">
      <svg class="icon icon-num-10-dims">
        <use xlink:href="#num-10"></use>
      </svg>
    </div>

    <div class="text background--yellow text--dark-red heading--red">
      <h2><%- tenTitle %></h2>
      <p><%- tenDesc %></p>
    </div>
  </div>

</div>

<div class="related-articles background--lighter-grey heading--dark-red">
  <h3>Like this article, try these…</h3>
  
  <a href="/articles/five-ways-to-save-more-each-month">
    <span class="time text--darker-grey"><%- homeElevenTime %> mins</span>
    <h4>Five ways to save more each month</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>
  
  <a href="/articles/five-brands-battle-it-out">
    <span class="time text--darker-grey"><%- homeTenTime %> mins</span>
    <h4>Five brands battle it out</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>

</div>