<div class="hero heading--white text--white svg--white background--red">
  
  <p class="read-time">
    <svg class="icon icon-read-time-ring-dims">
      <use xlink:href="#read-time-ring"></use>
    </svg>
    <span data-figure="<%- homeVideoTime %>" data-speed="1000">0</span>
    <span>mins</span>
  </p>

  <div class="hero__content">
    <p class="mag-title heading text--white">What’s Next?</p>
    <h1><%- heroTitle %></h1>
    <p class="text--dark-blue"><%- heroDesc %></p>
  </div>
</div>


<div class="content-wrapper">

  <div class="intro intro--full-width background--lighter-grey">

    <div class='embed-container'><iframe src='http://player.vimeo.com/video/66140585' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
  </div>

</div>

<div class="related-articles background--lighter-grey heading--dark-red">
  <h3>Like this article, try these…</h3>
  
  <a href="/articles/are-your-finances-ready-for-a-longer-life">
    <span class="time text--darker-grey"><%- homeTwoTime %> mins</span>
    <h4>Are your finances ready for a longer life?</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
      <span>Read</span>
    </span>
  </a>
  
  <a href="/articles/five-things-that-get-better-with-age">
    <span class="time text--darker-grey"><%- homeFourTime %> mins</span>
    <h4>Five things that get better with age</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"> <use xlink:href="#read-more"></use> </svg>
      <span>Read</span>
    </span>
  </a>

</div>