<div class="hero heading--yellow text--white background--dark-red">

  <p class="read-time svg--white text--white">
    <svg class="icon icon-read-time-ring-dims">
      <use xlink:href="#read-time-ring"></use>
    </svg>
    <span data-figure="3" data-speed="1000">0</span>
    <span>mins</span>
  </p>

  <div class="hero__content">
    <p class="mag-title heading text--yellow">What’s Next?</p>
    <h1><%- heroTitle %></h1>
    <p><%- heroDesc %></p>
  </div>
  <svg class="icon icon-robot-dims">
   <use xlink:href="#robot"></use>
  </svg>

</div>

<div class="guide--wrapper">

  <div class="row">
    <div class="block background--yellow text--dark-red heading--red svg--white span-cols--14 costs" id="costs">
      <h3><%- introOne %></h3>
      <div class="quart">
        <svg class="icon icon-egg-dims"><use xlink:href="#egg"></use></svg>
        <h2>£6.05</h2>
        <p>Dozen Eggs</p>
      </div>
      <div class="quart">
        <svg class="icon icon-bread-dims"><use xlink:href="#bread"></use></svg>
        <h2>£4.20</h2>
        <p>Loaf of Bread</p>
      </div>
      <div class="quart">
        <svg class="icon icon-ticket-dims"><use xlink:href="#ticket"></use></svg>
        <h2>£14.50</h2>
        <p>Cinema Ticket</p>
      </div>
      <div class="quart">
        <svg class="icon icon-beer-dims"><use xlink:href="#beer"></use></svg>
        <h2>£18</h2>
        <p>Pint of Beer</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="block background--orange svg--white text--white heading--dark-red span-cols--6" id="twenty-twenty">
      <p><%- statText %></p>
      <h2 class="figure"><%- stat %></h2>
      <div id="icon-animated-robot" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-robot.json"></div>
    </div>

    <div class="block background--darker-grey text--white heading--beige-grey span-cols--8" id="twenty-fourty">
      <h2 class="figure"><%- statTwo %></h2>
      <p><%- statTwoText %></p>
      <div class="svg--yellow">
        <div id="icon-animated-wireless" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-wireless.json"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="block background--red text--yellow heading--white svg--yellow span-cols--8" id="moon">
      <h2 class="large-copy"><%- oneDesc %></h2>
      <p class="large-copy"><%- oneTitle %></p>
      <div class="svg--orange">
        <div id="icon-animated-moon" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-moon.json"></div>
      </div>
    </div>

    <div class="block background--yellow text--dark-red heading--red svg--dark-red span-cols--6" id="twenty-fifty">
      <p><%- twoDesc %></p>
      <h2><%- twoTitle %></h2>
       <div id="icon-animated-cleaner" class="bodymovin" data-bm-type="svg"  data-animation-path="/assets/javascripts/animations/icon-animated-cleaner.json"></div>
    </div>
  </div>


  <p class="sources">
    Sources 
    <a href="https://www.theguardian.com/business/2016/mar/22/delay-retirement-financial-pressures-pension-savings" target="_blank">guardian.com</a>
    <a href="https://www.gov.uk/government/news/webb-new-figures-show-retirement-is-changing" target="_blank">gov.uk</a>

    <a href="http://www.businessinsider.com/the-world-in-2050-2014-6?IR=T" target="_blank">businessinsider.com</a>
    <a href="https://www.vouchercloud.com/resources/the-freddo-index" target="_blank">vouchercloud.com</a>

  </p>

</div>

<div class="related-articles background--lighter-grey heading--dark-red">
  <h3>Like this article, try these…</h3>
  
  <a href="/articles/five-things-that-get-better-with-age">
    <span class="time text--darker-grey"><%- homeFourTime %> mins</span>
    <h4>Five things that get better with age</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>

  <a href="/articles/when-can-i-retire">
    <span class="time text--darker-grey"><%- homeThreeTime %> mins</span>
    <h4>When can I Retire?</h4>
    <span class="read-more text--red svg--red">
      <svg class="icon icon-read-more-dims"><use xlink:href="#read-more"></use></svg>
      <span>Read</span>
    </span>
  </a>
  
</div>